services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=saas_project
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres_password
    ports:
      - "5432:5432"

  backend:
    build: .
    environment:
      - DATABASE_URL=postgresql://postgres:postgres_password@db:5432/saas_project
    depends_on:
      - db

  frontend:
    build: ./admin-panel-vue-main/admin-panel-vue-main
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

volumes:
  postgres_data:
