@tailwind base;
@tailwind components;
@tailwind utilities;


.main-bg-color {
    background-color: rgb(32, 33, 35);
}

/* Скрытие скроллбара для всех браузеров */
::-webkit-scrollbar {
    display: none;
}

/* Для Firefox */
* {
    scrollbar-width: none;
}

/* Для IE и Edge */
* {
    -ms-overflow-style: none;
}